{
  "openapi": "3.0.3",
  "info": {
    "title": "MailGlyph API",
    "description": "Email platform API for transactional emails, campaigns, and marketing automation",
    "version": "1.0.0",
    "contact": {
      "name": "MailGlyph Support",
      "url": "https://mailglyph.com"
    }
  },
  "servers": [
    {
      "url": "https://api.mailglyph.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API Key authentication. **Secret keys (sk_*)** are required for all endpoints except `/v1/track`. **Public keys (pk_*)** only work with the `/v1/track` endpoint for client-side event tracking. Workspaces can have multiple active keys, and sender-domain operations enforce per-key domain scope when configured."
      }
    },
    "schemas": {
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique contact identifier"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email address"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Subscription status"
          },
          "data": {
            "type": "object",
            "description": "Custom contact data fields",
            "nullable": true,
            "additionalProperties": true
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "projectId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "subject": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "from": {
            "type": "string",
            "format": "email"
          },
          "fromName": {
            "type": "string",
            "nullable": true
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "TRANSACTIONAL",
              "MARKETING"
            ]
          },
          "projectId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "subject": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "format": "email"
          },
          "fromName": {
            "type": "string",
            "nullable": true
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "audienceType": {
            "type": "string",
            "enum": [
              "ALL",
              "SEGMENT",
              "FILTERED"
            ]
          },
          "audienceCondition": {
            "$ref": "#/components/schemas/FilterCondition"
          },
          "segmentId": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "SCHEDULED",
              "SENDING",
              "SENT",
              "CANCELLED"
            ]
          },
          "totalRecipients": {
            "type": "integer"
          },
          "sentCount": {
            "type": "integer"
          },
          "deliveredCount": {
            "type": "integer"
          },
          "openedCount": {
            "type": "integer"
          },
          "clickedCount": {
            "type": "integer"
          },
          "bouncedCount": {
            "type": "integer"
          },
          "scheduledFor": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "sentAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "segment": {
            "$ref": "#/components/schemas/Segment"
          }
        }
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "DYNAMIC",
              "STATIC"
            ]
          },
          "condition": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FilterCondition"
              }
            ],
            "nullable": true
          },
          "trackMembership": {
            "type": "boolean"
          },
          "memberCount": {
            "type": "integer"
          },
          "projectId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Workflow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "enabled": {
            "type": "boolean"
          },
          "triggerType": {
            "type": "string",
            "enum": [
              "EVENT",
              "MANUAL",
              "SCHEDULE"
            ]
          },
          "triggerConfig": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "allowReentry": {
            "type": "boolean"
          },
          "projectId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "WorkflowTemplateRef": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "WorkflowTransition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "fromStepId": {
            "type": "string"
          },
          "toStepId": {
            "type": "string"
          },
          "condition": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "priority": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "WorkflowStep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "TRIGGER",
              "SEND_EMAIL",
              "DELAY",
              "WAIT_FOR_EVENT",
              "CONDITION",
              "EXIT",
              "WEBHOOK",
              "UPDATE_CONTACT"
            ]
          },
          "name": {
            "type": "string"
          },
          "position": {
            "type": "object",
            "additionalProperties": true
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          },
          "workflowId": {
            "type": "string"
          },
          "templateId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "template": {
            "$ref": "#/components/schemas/WorkflowTemplateRef"
          },
          "outgoingTransitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowTransition"
            }
          },
          "incomingTransitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowTransition"
            }
          }
        },
        "additionalProperties": true
      },
      "WorkflowWithDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Workflow"
          },
          {
            "type": "object",
            "properties": {
              "steps": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WorkflowStep"
                }
              }
            }
          }
        ]
      },
      "WorkflowExecution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workflowId": {
            "type": "string"
          },
          "contactId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "RUNNING",
              "WAITING",
              "COMPLETED",
              "EXITED",
              "FAILED",
              "CANCELLED"
            ]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "time": {
            "type": "integer"
          }
        }
      },
      "SegmentFilter": {
        "type": "object",
        "description": "A single segment filter rule.",
        "properties": {
          "field": {
            "type": "string",
            "description": "Field path to evaluate (for example: email, subscribed, data.plan, event.purchase)."
          },
          "operator": {
            "type": "string",
            "enum": [
              "equals",
              "notEquals",
              "contains",
              "notContains",
              "greaterThan",
              "lessThan",
              "greaterThanOrEqual",
              "lessThanOrEqual",
              "exists",
              "notExists",
              "within",
              "olderThan",
              "triggered",
              "triggeredWithin",
              "triggeredOlderThan",
              "notTriggered"
            ]
          },
          "value": {
            "description": "Comparison value for operators that require it."
          },
          "unit": {
            "type": "string",
            "enum": [
              "days",
              "hours",
              "minutes"
            ],
            "description": "Required for time-based operators such as within/olderThan/triggeredWithin/triggeredOlderThan."
          }
        },
        "required": [
          "field",
          "operator"
        ],
        "additionalProperties": false
      },
      "FilterGroup": {
        "type": "object",
        "description": "A group of filters that are combined with AND, with optional nested conditions.",
        "properties": {
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SegmentFilter"
            }
          },
          "conditions": {
            "$ref": "#/components/schemas/FilterCondition"
          }
        },
        "required": [
          "filters"
        ],
        "additionalProperties": false
      },
      "FilterCondition": {
        "type": "object",
        "description": "Root segment condition structure using logical groups.",
        "properties": {
          "logic": {
            "type": "string",
            "enum": [
              "AND",
              "OR"
            ]
          },
          "groups": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/FilterGroup"
            }
          }
        },
        "required": [
          "logic",
          "groups"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        },
        "description": "Maximum items per page"
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Pagination cursor"
      }
    }
  },
  "paths": {
    "/v1/send": {
      "post": {
        "tags": [
          "Public API"
        ],
        "summary": "Send transactional email",
        "description": "Send a transactional email via the public API. Automatically creates/updates contacts.",
        "operationId": "sendEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "from"
                ],
                "properties": {
                  "to": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "email",
                        "description": "Simple email address"
                      },
                      {
                        "type": "object",
                        "required": [
                          "email"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Recipient display name"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "Recipient email address"
                          }
                        },
                        "description": "Recipient with name and email"
                      },
                      {
                        "type": "array",
                        "maxItems": 50,
                        "items": {
                          "oneOf": [
                            {
                              "type": "string",
                              "format": "email"
                            },
                            {
                              "type": "object",
                              "required": [
                                "email"
                              ],
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Recipient display name"
                                },
                                "email": {
                                  "type": "string",
                                  "format": "email",
                                  "description": "Recipient email address"
                                }
                              }
                            }
                          ]
                        },
                        "description": "Array of recipients (strings or objects), maximum 50 recipients"
                      }
                    ],
                    "description": "Recipient email(s). Can be a string, an object with {name, email}, or an array of either. Maximum 50 recipients per request."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Email subject (required if no template)"
                  },
                  "body": {
                    "type": "string",
                    "description": "Email body HTML (required if no template)"
                  },
                  "text": {
                    "type": "string",
                    "description": "The plain text version of the message.\nIf not provided, the `body` will be used to generate a plain text version. You can opt out of this behavior by setting value to an empty string."
                  },
                  "template": {
                    "type": "string",
                    "description": "Template ID to use for this email. When provided, uses the template's subject, body, from, and reply-to settings. You can override these by explicitly providing subject, body, from, or reply fields in the request. Template variables are populated from the data field."
                  },
                  "from": {
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "Sender as plain email or address string (e.g., \"hello@example.com\" or \"My App &lt;hello@example.com&gt;\")"
                      },
                      {
                        "type": "object",
                        "required": [
                          "email"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Sender display name"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "Sender email address"
                          }
                        },
                        "description": "Sender with name and email"
                      }
                    ],
                    "description": "Sender email address (requires verified domain). Required unless using a template that has a 'from' address configured. Can be a string (e.g., \"hello@example.com\" or \"My App &lt;hello@example.com&gt;\") or an object with {name, email} (e.g., {name: \"My App\", email: \"hello@example.com\"})."
                  },
                  "name": {
                    "type": "string",
                    "description": "Sender display name (alternative to using from.name)"
                  },
                  "subscribed": {
                    "type": "boolean",
                    "description": "Whether recipient is subscribed to marketing emails. Defaults to false for transactional emails.",
                    "default": false
                  },
                  "data": {
                    "description": "Optional template variables. Choose `Empty object` if you do not want to send any example preset keys.",
                    "oneOf": [
                      {
                        "type": "object",
                        "title": "Example object",
                        "description": "Optional common keys. You can still add additional custom key/value pairs.",
                        "properties": {
                          "resetLink": {
                            "type": "string",
                            "description": "Reset or action URL used in templates",
                            "example": "https://example.com/reset/abc123"
                          }
                        },
                        "example": {
                          "resetLink": "https://example.com/reset/abc123"
                        },
                        "additionalProperties": true
                      },
                      {
                        "type": "object",
                        "title": "Empty object",
                        "description": "No preset keys. Add any custom key/value pairs as needed.",
                        "additionalProperties": true
                      }
                    ]
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Custom email headers"
                  },
                  "reply": {
                    "type": "string",
                    "format": "email",
                    "description": "Reply-to address"
                  },
                  "attachments": {
                    "type": "array",
                    "description": "Email attachments (max 10 attachments, 10MB total)",
                    "maxItems": 10,
                    "items": {
                      "type": "object",
                      "required": [
                        "filename",
                        "content",
                        "contentType"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string",
                          "maxLength": 255,
                          "description": "Attachment filename"
                        },
                        "content": {
                          "type": "string",
                          "description": "Base64 encoded file content"
                        },
                        "contentType": {
                          "type": "string",
                          "maxLength": 255,
                          "description": "MIME type (e.g., application/pdf, image/png)"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Simple transactional email": {
                  "summary": "Simple transactional email",
                  "value": {
                    "to": "user@example.com",
                    "from": "My Company <hello@mycompany.com>",
                    "subject": "Password Reset Request",
                    "body": "<h1>Reset Your Password</h1><p>Click the link to reset: {{resetLink}}</p>",
                    "data": {
                      "resetLink": "https://example.com/reset/abc123"
                    }
                  }
                },
                "Email with recipient and sender names": {
                  "summary": "Email with recipient and sender names",
                  "value": {
                    "to": {
                      "name": "Jane Doe",
                      "email": "jane@example.com"
                    },
                    "from": {
                      "name": "My Company",
                      "email": "hello@mycompany.com"
                    },
                    "subject": "Welcome to Our Service",
                    "body": "<h1>Welcome {{name}}!</h1><p>We're glad to have you.</p>",
                    "data": {
                      "name": "Jane"
                    }
                  }
                },
                "Email with sender address string": {
                  "summary": "Email with sender address string",
                  "value": {
                    "to": "jane@example.com",
                    "from": "My Company <hello@mycompany.com>",
                    "subject": "Welcome",
                    "body": "<h1>Welcome!</h1><p>Thanks for joining.</p>"
                  }
                },
                "Multiple recipients with names": {
                  "summary": "Multiple recipients with names",
                  "value": {
                    "to": [
                      {
                        "name": "Jane Doe",
                        "email": "jane@example.com"
                      },
                      {
                        "name": "John Smith",
                        "email": "john@example.com"
                      }
                    ],
                    "from": {
                      "name": "Newsletter",
                      "email": "news@mycompany.com"
                    },
                    "subject": "Monthly Update",
                    "body": "<h1>Hello {{name}}!</h1>"
                  }
                },
                "Using a template": {
                  "summary": "Using a template",
                  "description": "Send email using a template. Provide the template ID and any data for template variables. The template's subject, body, from address, and reply-to will be used automatically.",
                  "value": {
                    "to": "user@example.com",
                    "template": "clx123abc456",
                    "data": {
                      "firstName": "John",
                      "lastName": "Doe",
                      "resetCode": {
                        "value": "ABC123",
                        "persistent": false
                      }
                    }
                  }
                },
                "Using template with overrides": {
                  "summary": "Using template with overrides",
                  "description": "You can override template values by providing subject, body, from, or reply fields. This example overrides the template's subject line.",
                  "value": {
                    "to": "user@example.com",
                    "template": "clx123abc456",
                    "subject": "Custom Subject Override",
                    "data": {
                      "firstName": "Jane"
                    }
                  }
                },
                "Marketing email (set subscribed: true)": {
                  "summary": "Marketing email (set subscribed: true)",
                  "value": {
                    "to": "user@example.com",
                    "subject": "Weekly Newsletter",
                    "body": "<h1>This Week's Updates</h1>",
                    "subscribed": true
                  }
                },
                "Email with PDF attachment": {
                  "summary": "Email with PDF attachment",
                  "value": {
                    "to": "user@example.com",
                    "subject": "Your Invoice",
                    "body": "<h1>Invoice Attached</h1><p>Please find your invoice attached.</p>",
                    "attachments": [
                      {
                        "filename": "invoice.pdf",
                        "content": "JVBERi0xLjQKJeLjz9MKMSAwIG9iago8PC9UeXBlL...",
                        "contentType": "application/pdf"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "contact": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "string"
                                  }
                                }
                              },
                              "email": {
                                "type": "string",
                                "description": "Email record ID"
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/track": {
      "post": {
        "tags": [
          "Public API"
        ],
        "summary": "Track event",
        "description": "Track an event for a contact. Automatically creates/updates the contact.",
        "operationId": "trackEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "event"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Contact email"
                  },
                  "event": {
                    "type": "string",
                    "description": "Event name"
                  },
                  "subscribed": {
                    "type": "boolean",
                    "description": "Whether contact is subscribed to marketing emails. Defaults to true for event tracking.",
                    "default": true
                  },
                  "data": {
                    "description": "Optional event data and contact metadata. Choose `Empty object` if you do not want to send any example preset keys.",
                    "oneOf": [
                      {
                        "type": "object",
                        "title": "Example object",
                        "description": "Optional common event keys. You can still add additional custom key/value pairs.",
                        "properties": {
                          "product": {
                            "type": "string",
                            "example": "Premium Plan"
                          },
                          "amount": {
                            "type": "number",
                            "example": 99
                          }
                        },
                        "example": {
                          "product": "Premium Plan",
                          "amount": 99
                        },
                        "additionalProperties": true
                      },
                      {
                        "type": "object",
                        "title": "Empty object",
                        "description": "No preset keys. Add any custom key/value pairs as needed.",
                        "additionalProperties": true
                      }
                    ]
                  }
                }
              },
              "examples": {
                "Event with metadata": {
                  "summary": "Event with metadata",
                  "value": {
                    "email": "user@example.com",
                    "event": "purchase",
                    "data": {
                      "product": "Premium Plan",
                      "amount": 99
                    }
                  }
                },
                "Simple event": {
                  "summary": "Simple event",
                  "value": {
                    "email": "user@example.com",
                    "event": "purchase"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event tracked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "contact": {
                          "type": "string",
                          "description": "Contact ID"
                        },
                        "event": {
                          "type": "string",
                          "description": "Event ID"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify": {
      "post": {
        "tags": [
          "Public API"
        ],
        "summary": "Verify email address",
        "description": "Verify an email address for validity, check if it's from a disposable domain or personal email provider, verify MX records, detect random string patterns, and detect potential typos with suggestions.",
        "operationId": "verifyEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address to verify"
                  }
                }
              },
              "examples": {
                "validEmail": {
                  "summary": "Valid email address",
                  "value": {
                    "email": "user@gmail.com"
                  }
                },
                "typoEmail": {
                  "summary": "Email with potential typo",
                  "value": {
                    "email": "user@gmial.com"
                  }
                },
                "disposableEmail": {
                  "summary": "Disposable email address",
                  "value": {
                    "email": "user@tempmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Always true for successful requests"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "Email address that was verified"
                        },
                        "valid": {
                          "type": "boolean",
                          "description": "Whether the email appears to be valid overall"
                        },
                        "isDisposable": {
                          "type": "boolean",
                          "description": "Whether the email is from a disposable/temporary email domain"
                        },
                        "isAlias": {
                          "type": "boolean",
                          "description": "Whether the email is from a forwarding/alias service"
                        },
                        "isTypo": {
                          "type": "boolean",
                          "description": "Whether a potential typo was detected in the email address"
                        },
                        "isPlusAddressed": {
                          "type": "boolean",
                          "description": "Whether the email uses plus addressing (contains a + in the local part)"
                        },
                        "isRandomInput": {
                          "type": "boolean",
                          "description": "Whether the local-part appears randomly generated (token/UUID-like patterns)"
                        },
                        "isPersonalEmail": {
                          "type": "boolean",
                          "description": "Whether the email is from a personal/free email provider (Gmail, Hotmail, Yahoo, etc.)"
                        },
                        "domainExists": {
                          "type": "boolean",
                          "description": "Whether the domain exists in DNS (has NS records)"
                        },
                        "hasWebsite": {
                          "type": "boolean",
                          "description": "Whether the domain has a website (has DNS A or AAAA records) - informational only"
                        },
                        "hasMxRecords": {
                          "type": "boolean",
                          "description": "Whether the domain has MX records configured for email delivery"
                        },
                        "suggestedEmail": {
                          "type": "string",
                          "format": "email",
                          "description": "Suggested correction if a typo was detected (optional)",
                          "nullable": true
                        },
                        "reasons": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Array of human-readable reasons describing the verification results"
                        }
                      },
                      "required": [
                        "email",
                        "valid",
                        "isDisposable",
                        "isAlias",
                        "isTypo",
                        "isPlusAddressed",
                        "isRandomInput",
                        "isPersonalEmail",
                        "domainExists",
                        "hasWebsite",
                        "hasMxRecords",
                        "reasons"
                      ]
                    }
                  }
                },
                "examples": {
                  "validEmail": {
                    "summary": "Valid email",
                    "value": {
                      "success": true,
                      "data": {
                        "email": "user@gmail.com",
                        "valid": true,
                        "isDisposable": false,
                        "isAlias": false,
                        "isTypo": false,
                        "isPlusAddressed": false,
                        "isRandomInput": false,
                        "isPersonalEmail": true,
                        "domainExists": true,
                        "hasWebsite": true,
                        "hasMxRecords": true,
                        "reasons": [
                          "Email appears to be valid"
                        ]
                      }
                    }
                  },
                  "typoDetected": {
                    "summary": "Email with typo detected",
                    "value": {
                      "success": true,
                      "data": {
                        "email": "user@gmial.com",
                        "valid": false,
                        "isDisposable": false,
                        "isAlias": false,
                        "isTypo": true,
                        "isPlusAddressed": false,
                        "isRandomInput": false,
                        "isPersonalEmail": false,
                        "domainExists": false,
                        "hasWebsite": false,
                        "hasMxRecords": false,
                        "suggestedEmail": "user@gmail.com",
                        "reasons": [
                          "Possible typo detected, did you mean gmail.com?",
                          "Domain does not exist (no nameservers found)"
                        ]
                      }
                    }
                  },
                  "disposableEmail": {
                    "summary": "Disposable email detected",
                    "value": {
                      "success": true,
                      "data": {
                        "email": "user@tempmail.com",
                        "valid": true,
                        "isDisposable": true,
                        "isAlias": false,
                        "isTypo": false,
                        "isPlusAddressed": false,
                        "isRandomInput": false,
                        "isPersonalEmail": false,
                        "domainExists": true,
                        "hasWebsite": true,
                        "hasMxRecords": true,
                        "reasons": [
                          "Email appears to be valid"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid email format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events",
        "description": "List all events",
        "operationId": "listEvents",
        "parameters": [
          {
            "name": "eventName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by event name"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Maximum events to return"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "data": {
                            "type": "object",
                            "nullable": true,
                            "additionalProperties": true
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "string",
                            "nullable": true
                          },
                          "emailId": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/events/names": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List event names",
        "description": "List unique event names",
        "operationId": "listEventNames",
        "responses": {
          "200": {
            "description": "Unique event names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "eventNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts",
        "description": "Get a paginated list of contacts with cursor-based pagination",
        "operationId": "listContacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "subscribed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by subscription status"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by email"
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Cursor for next page"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total count (only included on first page)"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create or update contact",
        "description": "Create a new contact or update existing (upsert by email)",
        "operationId": "createContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "subscribed": {
                    "type": "boolean",
                    "default": true
                  },
                  "data": {
                    "description": "Optional custom contact data fields. Choose `Empty object` if you do not want to send any example preset keys.",
                    "oneOf": [
                      {
                        "type": "object",
                        "title": "Example object",
                        "description": "Optional common keys. You can still add additional custom key/value pairs.",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "description": "Contact first name",
                            "example": "John"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Contact last name",
                            "example": "Doe"
                          },
                          "plan": {
                            "type": "string",
                            "description": "Plan or customer segment label",
                            "example": "premium"
                          }
                        },
                        "example": {
                          "firstName": "John",
                          "lastName": "Doe",
                          "plan": "premium"
                        },
                        "additionalProperties": true
                      },
                      {
                        "type": "object",
                        "title": "Empty object",
                        "description": "No preset keys. Add any custom key/value pairs as needed.",
                        "additionalProperties": true
                      }
                    ]
                  }
                }
              },
              "examples": {
                "Contact with custom data": {
                  "summary": "Contact with custom data",
                  "value": {
                    "email": "user@example.com",
                    "subscribed": true,
                    "data": {
                      "firstName": "John",
                      "lastName": "Doe",
                      "plan": "premium"
                    }
                  }
                },
                "Simple contact": {
                  "summary": "Simple contact",
                  "value": {
                    "email": "user@example.com",
                    "subscribed": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Contact"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_meta": {
                          "type": "object",
                          "properties": {
                            "isNew": {
                              "type": "boolean"
                            },
                            "isUpdate": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Contact"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_meta": {
                          "type": "object",
                          "properties": {
                            "isNew": {
                              "type": "boolean"
                            },
                            "isUpdate": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact",
        "description": "Get a single contact by ID",
        "operationId": "getContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update contact",
        "description": "Update an existing contact",
        "operationId": "updateContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscribed": {
                    "type": "boolean"
                  },
                  "data": {
                    "description": "Optional custom contact data fields. Choose `Empty object` if you do not want to send any example preset keys.",
                    "oneOf": [
                      {
                        "type": "object",
                        "title": "Example object",
                        "description": "Optional common keys. You can still add additional custom key/value pairs.",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "description": "Contact first name",
                            "example": "John"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Contact last name",
                            "example": "Doe"
                          },
                          "plan": {
                            "type": "string",
                            "description": "Plan or customer segment label",
                            "example": "premium"
                          }
                        },
                        "example": {
                          "firstName": "John",
                          "lastName": "Doe",
                          "plan": "premium"
                        },
                        "additionalProperties": true
                      },
                      {
                        "type": "object",
                        "title": "Empty object",
                        "description": "No preset keys. Add any custom key/value pairs as needed.",
                        "additionalProperties": true
                      }
                    ]
                  }
                }
              },
              "examples": {
                "Update custom data": {
                  "summary": "Update custom data",
                  "value": {
                    "subscribed": true,
                    "data": {
                      "firstName": "John",
                      "lastName": "Doe",
                      "plan": "premium"
                    }
                  }
                },
                "Update subscription only": {
                  "summary": "Update subscription only",
                  "value": {
                    "subscribed": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete contact",
        "description": "Permanently delete a contact",
        "operationId": "deleteContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact deleted successfully (no content returned)"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      }
    },
    "/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List templates",
        "description": "Get a paginated list of email templates",
        "operationId": "listTemplates",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "TRANSACTIONAL",
                "MARKETING"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Template"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Create template",
        "description": "Create a new email template",
        "operationId": "createTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "subject",
                  "body",
                  "type"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "TRANSACTIONAL",
                      "MARKETING"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Get template",
        "description": "Get a specific template by ID",
        "operationId": "getTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "404": {
            "description": "Template not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Templates"
        ],
        "summary": "Update template",
        "description": "Update an existing email template",
        "operationId": "updateTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "TRANSACTIONAL",
                      "MARKETING"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "404": {
            "description": "Template not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Templates"
        ],
        "summary": "Delete template",
        "description": "Permanently delete a template",
        "operationId": "deleteTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Template deleted successfully (no content returned)"
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "description": "Get a paginated list of email campaigns",
        "operationId": "listCampaigns",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Items per page (max 100)"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "SCHEDULED",
                "SENDING",
                "SENT",
                "CANCELLED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Campaign"
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create campaign",
        "description": "Create a new email campaign",
        "operationId": "createCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "subject",
                  "body",
                  "from",
                  "audienceType"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Campaign name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Campaign description"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Email subject line"
                  },
                  "body": {
                    "type": "string",
                    "description": "HTML email body"
                  },
                  "from": {
                    "type": "string",
                    "format": "email",
                    "description": "Sender email address (must be from verified domain)"
                  },
                  "fromName": {
                    "type": "string",
                    "description": "Sender name"
                  },
                  "replyTo": {
                    "type": "string",
                    "format": "email",
                    "description": "Reply-to email address"
                  },
                  "audienceType": {
                    "type": "string",
                    "enum": [
                      "ALL",
                      "SEGMENT",
                      "FILTERED"
                    ],
                    "description": "Target audience type"
                  },
                  "segmentId": {
                    "type": "string",
                    "description": "Segment ID (required if audienceType is SEGMENT)"
                  },
                  "audienceCondition": {
                    "$ref": "#/components/schemas/FilterCondition"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Campaign"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}/send": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Send or schedule campaign",
        "description": "Send a campaign immediately or schedule for future delivery",
        "operationId": "sendCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scheduledFor": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "ISO 8601 timestamp for when to send the campaign. Omit or set to null for immediate send."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign scheduled/sending",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Campaign"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign",
        "description": "Get campaign details",
        "operationId": "getCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Campaign"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      },
      "put": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update campaign",
        "description": "Update campaign details",
        "operationId": "updateCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "from": {
                    "type": "string",
                    "format": "email"
                  },
                  "fromName": {
                    "type": "string"
                  },
                  "replyTo": {
                    "type": "string",
                    "format": "email"
                  },
                  "audienceType": {
                    "type": "string",
                    "enum": [
                      "ALL",
                      "SEGMENT",
                      "FILTERED"
                    ]
                  },
                  "segmentId": {
                    "type": "string"
                  },
                  "audienceCondition": {
                    "$ref": "#/components/schemas/FilterCondition"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Campaign"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/campaigns/{id}/cancel": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Cancel campaign",
        "description": "Cancel scheduled campaign",
        "operationId": "cancelCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Campaign"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/campaigns/{id}/test": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Send campaign test email",
        "description": "Send test email",
        "operationId": "testCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test email sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/campaigns/{id}/stats": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign stats",
        "description": "Get campaign analytics",
        "operationId": "campaignStats",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/segments": {
      "get": {
        "tags": [
          "Segments"
        ],
        "summary": "List segments",
        "description": "Get all audience segments",
        "operationId": "listSegments",
        "responses": {
          "200": {
            "description": "List of segments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Segment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Segments"
        ],
        "summary": "Create segment",
        "description": "Create a new audience segment",
        "operationId": "createSegment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "condition"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "condition": {
                    "$ref": "#/components/schemas/FilterCondition"
                  },
                  "trackMembership": {
                    "type": "boolean",
                    "description": "Track segment membership changes over time"
                  }
                }
              },
              "example": {
                "name": "Premium Users",
                "condition": {
                  "logic": "AND",
                  "groups": [
                    {
                      "filters": [
                        {
                          "field": "data.plan",
                          "operator": "equals",
                          "value": "premium"
                        }
                      ]
                    }
                  ]
                },
                "trackMembership": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Segment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        }
      }
    },
    "/segments/{id}": {
      "get": {
        "tags": [
          "Segments"
        ],
        "summary": "Get segment",
        "description": "Get segment details",
        "operationId": "getSegment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Segment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          },
          "404": {
            "description": "Segment not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Segments"
        ],
        "summary": "Update segment",
        "description": "Update segment",
        "operationId": "updateSegment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "condition": {
                    "$ref": "#/components/schemas/FilterCondition"
                  },
                  "trackMembership": {
                    "type": "boolean",
                    "description": "Track segment membership changes over time"
                  }
                }
              },
              "example": {
                "name": "Premium Users",
                "description": "Users with premium plan",
                "condition": {
                  "logic": "AND",
                  "groups": [
                    {
                      "filters": [
                        {
                          "field": "data.plan",
                          "operator": "equals",
                          "value": "premium"
                        }
                      ]
                    }
                  ]
                },
                "trackMembership": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Segment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          },
          "404": {
            "description": "Segment not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Segments"
        ],
        "summary": "Delete segment",
        "description": "Delete segment",
        "operationId": "deleteSegment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Segment deleted"
          },
          "404": {
            "description": "Segment not found"
          }
        }
      }
    },
    "/segments/{id}/contacts": {
      "get": {
        "tags": [
          "Segments"
        ],
        "summary": "List segment contacts",
        "description": "List segment members",
        "operationId": "listSegmentContacts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Items per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated segment members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Segment not found"
          }
        }
      }
    },
    "/workflows": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "List workflows",
        "description": "List all workflows",
        "operationId": "listWorkflows",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Items per page (max 100)"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by workflow name or description"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated workflows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workflow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{id}": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get workflow",
        "description": "Get workflow details",
        "operationId": "getWorkflow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowWithDetails"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Workflows"
        ],
        "summary": "Update workflow",
        "description": "Update workflow",
        "operationId": "updateWorkflow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "triggerType": {
                    "type": "string",
                    "enum": [
                      "EVENT",
                      "MANUAL",
                      "SCHEDULE"
                    ]
                  },
                  "triggerConfig": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "allowReentry": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "name": "Welcome series v2",
                "description": "Updated onboarding sequence",
                "enabled": true,
                "allowReentry": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Workflows"
        ],
        "summary": "Delete workflow",
        "description": "Delete workflow",
        "operationId": "deleteWorkflow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Workflow deleted"
          },
          "404": {
            "description": "Workflow not found"
          }
        }
      }
    },
    "/workflows/{id}/executions": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "List workflow executions",
        "description": "List workflow executions",
        "operationId": "listWorkflowExecutions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Items per page (max 100)"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "RUNNING",
                "WAITING",
                "COMPLETED",
                "EXITED",
                "FAILED",
                "CANCELLED"
              ]
            },
            "description": "Filter by execution status"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated executions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "executions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowExecution"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found"
          }
        }
      }
    },
    "/segments/{id}/members": {
      "post": {
        "tags": [
          "Segments"
        ],
        "summary": "Add static segment members",
        "description": "Add contacts to a static segment by email",
        "operationId": "addStaticSegmentMembers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emails"
                ],
                "properties": {
                  "emails": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 500,
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                }
              },
              "example": {
                "emails": [
                  "alice@example.com",
                  "bob@example.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts added to static segment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "added": {
                      "type": "integer"
                    },
                    "notFound": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "email"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Segment not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Segments"
        ],
        "summary": "Remove static segment members",
        "description": "Remove contacts from a static segment by email",
        "operationId": "removeStaticSegmentMembers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emails"
                ],
                "properties": {
                  "emails": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 500,
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                }
              },
[...]
